.navbar-box{
    display: flex;
    align-items: center;
    /* gap: 5rem; */
    justify-content: space-between;
    padding: 0 32px;
    height: 6rem;
    font-size: 20px;
    font-weight: 500;
    transition: opacity 150ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: ghostwhite;
    z-index: 999;
    pointer-events: none;
}

.navbar-box.onScroll{
    opacity: 100%;
    pointer-events: inherit;
}

.navbar-box .input-box {
    flex: 2;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding-right: 0.5rem;
}

.navbar-box input{
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
}

#navbarSearchIcon{
    color: darkcyan;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
#navbarSearchIcon:hover{
    transform: scale(110%);
}
#navbarSearchIcon:active{
    transform: scale(200%);

}

.navbar-box .pageTitle {
    /* height: 100%; */
    /* line-height: 0.5; */
    font-size: 2rem;
    flex: 10;
    display: flex;
    justify-content: center;
    color: darkcyan;
}

.navbar-box .pageTitle h1 {
    margin: 0
}

.signIn_signOut-box {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}

.signIn_signOut-box > *{
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.signIn_signOut-box > *:not(.profile):hover{
    /* transform: translateY(10%); */
    border-bottom: 5px double darkcyan;
    /* font-family: 'Zen Tokyo Zoo', cursive; */
}

.signIn_signOut-text{
    font-size: 1rem;
    padding: 0.25rem;
    text-transform: uppercase;
}

.profile{
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.125rem;
    transition: 150ms ease-in-out;
    border: 2px solid black;
}
.profile:hover{
    /* transform: scale(110%); */
    /* box-shadow: 0 0 1px 3px darkcyan; */
    /* border-color: darkcyan; */
    border: 6px double darkcyan;
    border-radius: 50%;
}

.shoppingCart-box{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* height: 80px; */
    padding-right: 1rem;
}

.shoppingCart{
    width: 30px;
}

.shoppingCart svg{
    cursor: pointer;
    padding: 0.5rem;
    transition: 250ms ease-in-out;
}
.shoppingCart svg:hover{
    /* transform: translateY(10%); */
    border-bottom: 5px double darkcyan;
}

.shoppingCart-box::after{
    content: attr(data-cart);
    color: white;
    background-color: darkcyan;
    padding: 0.25rem 0.6rem;
    margin-bottom: 2rem;
    margin-left: -2.1rem;
    border-radius: 50%;
    font-size: small;
}

[data-cart="0"]::after{
    display: none;
}