.slides-box{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.slides-img{
    height: 100%;
}

.slides-description{
    display: flex;
    flex-direction: column;
    font-size: 60px;
    gap: 32px;
    justify-content: center;
    position: absolute;
    left: 10%;
    width: 30%;
}

.slides-description h2{
    text-transform: uppercase;
    border-bottom: 10px double darkcyan;
    width: 380px;
}

.slides-description span{
    font-size: 2.5rem;
    /* text-transform: lowercase; */
}

.slides-box button{
    width: 50%;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: darkcyan;
    color: ghostwhite;
    transition: 250ms ease-in-out;
}
.slides-box button:hover{
    background-color: ghostwhite;
    color: black;
}

.sliderVideo{
    position: absolute;
    /* mix-blend-mode: overlay; */
}